.percentage-display {
  width: 7.75rem;
  height: 7.75rem;
  border-radius: 50%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.percentage-display__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 0.5rem solid var(--secondary);
  color: var(--secondary);
  font-family: Abel;
  font-size: 2.5rem;
}

@media screen and (max-width: 468px) {
  .percentage-display {
    width: 4rem;
    height: 4rem;
  }

  .percentage-display__inner {
    border: 0.25rem solid var(--secondary);
    font-size: 1.25rem;
  }
}
