.movie-card {
  display: flex;
  margin-top: 2.5em;
}

.movie-card__post {
  width: 30%;
  display: flex;
  overflow: hidden;
}

.movie-card__post img {
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.movie-card__post img:hover {
  transform: scale(1.1);
}

.movie-card__header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1.5rem;
  padding-bottom: 0.25rem;
  height: 12rem;
  background: linear-gradient(
    to bottom,
    var(--primary) 50%,
    var(--primary) 50%,
    #ebebeb 50%
  );
}

.movie-card__header__inner {
  display: flex;
  align-items: center;
}

.movie-card__title {
  margin: 0;
  font-weight: 400;
  font-family: Abel;
  font-size: 3em;
  color: var(--secondary);
  margin-left: 1rem;

  /* Limita o número de linhas em 1 */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-date {
  color: #bbbbbb;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.movie-card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #ebebeb;
  padding-bottom: 2rem;
}

.movie-card__body {
  font-family: Lato;
  color: #818181;
  font-size: 1.5rem;
  padding: 0 2rem;

  /* Limita o número de linhas em 5 */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-card__overview {
  margin: 0;
}

.movie-card__footer {
  padding: 0 2rem;
}

@media screen and (max-width: 468px) {
  .movie-card {
    flex-direction: column;
  }

  .movie-card__post {
    width: 100%;
    order: 2;
  }

  .movie-card__header {
    padding-left: 1rem;
    padding-bottom: 0.25rem;
    height: 6.5rem;
  }

  .movie-card__title {
    margin: 0;
    font-weight: 400;
    font-family: Abel;
    font-size: 1.25em;
    color: var(--secondary);
    margin-left: 0.5rem;
    margin-top: -0.5rem;

    /* Limita o número de linhas em 2 */
    -webkit-line-clamp: 2;
  }

  .movie-date {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  .movie-card__body {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .movie-card__footer {
    padding: 0 1rem;
  }
}
