header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--primary);
}

.main-title {
  font-family: Abel;
  font-size: 3.5rem;
  color: var(--secondary);
  font-weight: 400;
  text-decoration: none;
}

@media screen and (max-width: 468px) {
  .main-title {
    font-size: 2.5rem;
  }
}
